{% extends "layout.html" %}
{% block title %}Sociedad anonima{% endblock %}
{% block head %}
  {{ super() }}
  <style>
        body{background: rgb(104,91,111);background: linear-gradient(145deg, rgba(104,91,111,1) 0%, rgba(168,126,136,1) 11%, rgba(199,147,151,1) 20%, rgba(249,193,165,1) 50%, rgba(238,169,175,1) 65%, rgba(168,126,136,1) 85%, rgba(104,91,111,1) 100%);}
        .form-heading { color:#fff; font-size:23px;}
        .panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
        .panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
        .login-form .form-control {
        background: #f7f7f7 none repeat scroll 0 0;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        }
        .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        margin: 10px auto 30px;
        max-width: 80%;
        padding: 50px 70px 70px 71px;
        }

        .login-form .form-group {
        margin-bottom:10px;
        }
        .login-form{ text-align:center;}
        .forgot a {
        color: #777777;
        font-size: 14px;
        text-decoration: underline;
        }
        .login-form  .btn.btn-primary {
        background: #f0ad4e none repeat scroll 0 0;
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        }
        .forgot {
        text-align: left; margin-bottom:30px;
        }
        .botto-text {
        color: #ffffff;
        font-size: 14px;
        margin: auto;
        }
        .login-form .btn.btn-primary.reset {
        background: #ff9900 none repeat scroll 0 0;
        }
        .back { text-align: left; margin-top:10px;}
        .back a {color: #444444; font-size: 13px;text-decoration: none;}
        .btn-outline-primary{border-color: #f0ad4e; color: #f0ad4e !important}
        .btn-outline-primary:hover{border-color: #f0ad4e;background-color:#f0ad4e; color: white !important;}
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>PANEL DE AREA DE LEGALES</h2>
                    <p>Seleccione una opcion</p>
                </div>
                <a style="text-decoration: none;" href="/evaluar_estatutos"><button class="btn btn-outline-primary" style="width: 100%; height: 5rem; margin-bottom: 1rem; display:flex;justify-content:center;align-items:center;">Evaluar Estatutos</button></a>
                <a type="button" href="/gestion/logout" class="btn btn-outline-primary" style="width: 60%; margin-right: 20%; margin-left: 20%; height: 3rem; display:flex;justify-content:center;align-items:center;">Logout</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
  <script src="{{url_for('static',filename='form_sociedad_anonima.js')}}"></script>
{% endblock %}
